@font-face {
  font-family: "Play";
  src: url("../..//fonts/play-bold-webfont.woff2") format("woff2"), url("../../fonts/play-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Uni Sans Caps";
  src: url("../../fonts/uni_sans_heavy-webfont.woff2") format("woff2"), url("../../fonts//uni_sans_heavy-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320;
}

body {
  line-height: 1;
  font-family: "";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/
body {
  color: #000;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
._container {
  max-width: 1240px;
  margin: 0 auto;
}

.page {
  background-color: rgb(121, 121, 121);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form {
  max-width: 550px;
  margin: 0 auto;
  color: #fff;
  padding: 30px 0;
}
.form__body {
  position: relative;
}
.form__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.9) url(../img/icons/loading.gif) center/50px no-repeat;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form__body._sending::before {
  visibility: visible;
  opacity: 1;
}
.form__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.form__item {
  margin-bottom: 20px;
}
.form__label {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}
.form__select {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  padding: 0px 20px;
}
.form__input {
  height: 50px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.form__input:focus {
  -webkit-box-shadow: 0px 0px 10px rgb(143, 223, 159);
          box-shadow: 0px 0px 10px rgb(143, 223, 159);
}
.form__input._error {
  -webkit-box-shadow: 0px 0px 10px rgb(245, 66, 66);
          box-shadow: 0px 0px 10px rgb(245, 66, 66);
}
.form__button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  background-color: rgb(20, 54, 29);
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 0px rgb(70, 70, 70);
          box-shadow: 0px 5px 0px rgb(70, 70, 70);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  top: 0px;
}
.form__button:hover {
  background-color: rgb(65, 65, 65);
}
.form__button:active {
  top: 3px;
  -webkit-box-shadow: 0px 5px 0px rgb(70, 70, 70);
          box-shadow: 0px 5px 0px rgb(70, 70, 70);
}

.form * {
  outline: none;
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
  padding: 20px;
}

.options {
  padding-top: 10px;
}
.options__item {
  margin-bottom: 10px;
}
.options__input {
  display: none;
}
.options__input:checked + .options__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.options__label {
  cursor: pointer;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.options__label::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 10px 0 0;
}
.options__label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: rgb(25, 43, 29);
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.file__item {
  position: relative;
}
.file__input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  font-size: 0;
  cursor: pointer;
}
.file__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
  background-color: rgb(21, 35, 19);
}
.file__preview {
  display: inline-block;
  max-width: 100px;
  padding-top: 10px;
}
.file__preview img {
  max-width: 100%;
}

.checkbox ._error .checkbox__label::before {
  -webkit-box-shadow: 0px 0px 10px rgb(245, 66, 66);
          box-shadow: 0px 0px 10px rgb(245, 66, 66);
}

.checkbox._error .checkbox__label::before {
  -webkit-box-shadow: 0px 0px 10px rgb(245, 66, 66);
          box-shadow: 0px 0px 10px rgb(245, 66, 66);
}
.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__label::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.checkbox__label {
  font-size: 16px;
  line-height: 140%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  gap: 10px;
}
.checkbox__label::before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 0px 10px 0px 0px;
}
.checkbox__label::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: rgb(22, 34, 26);
  border-radius: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.checkbox__label a {
  color: rgb(27, 47, 34);
}